* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: rgba(255, 255, 255, 0.764);
}
/* auto resize image on containers */
img {
    width: 100%;
    height: 100%;
}

/* header group */
.header {
    padding: 40px 300px;
    background-color: #348888;
    padding-bottom: 100px;
}
/* header first layer */
.header-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 120px;
}

.header-logo-link, a{
    display: flex;
    gap: 10px;
    text-decoration: none;
}
/* header second layer */
.header-info {
    display: flex;
    gap: 100px;
}

.awesome {
    margin-bottom: 15px;
}
.web-container {
    flex: 1;
}

.awesome {
    font-weight: bold;
    font-size: 48px;
}
.web-info {
    font-size: 18px;
    margin-bottom: 10px;
}
.sign-up-header {
    background-color: #22babb;
    color: #9ef8ee;
    border-radius: 5px;
    border-style: none;
    padding: 7px 20px;
    font-size: 10px;
    font-weight: bold;
}
/* image holder */
.placeholder {
    flex: 1;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px;
}

/* info section */
.info {
    background-color: #22babb;
    padding: 50px 300px;
}

.info > p {
    display: flex;  
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    font-size: 36px;
    margin-bottom: 40px;
    margin-top: 20px;;
    color: #9ef8ee;
    text-shadow: 5px 15px #f24405;
}

.info-container {
    font-size: 15px;
    display: flex;
    gap: 40px;
    justify-content: space-between;
}

.info-card > p {
    text-align: center;
}
.box {
    display: flex;
    height: 150px;
    margin-bottom: 10px;
    border-radius: 10px;
    border-style: solid;
    border-width: 6px;
}
/* info-add section */
.info-add {
    background-color: #9ef8ee;
    padding: 200px 300px;
}
.quote {
    color: rgba(255, 255, 255, 0.764);
    font-size: 36px;
    font-style: italic;
}
.quote-add {
    display: flex;
    justify-content: flex-end;
    color: #348888;
}
/* sign-up section */
.sign-up{
    display: flex;
    padding: 50px;
    background-color: #fa7f08;
    margin: 50px 300px;
    justify-content: space-between;
    border-radius: 10px;
}

.call {
    font-size: 20px;
}
.call-info {
    font-size: 10px;
}
.sign-up-button {
    background-color: transparent;
    color: rgba(255, 255, 255, 0.764);
    border-radius: 10px;
    border-color: white;
    border-style: solid;
    padding: 5px 15px;
    font-size: 10px;
    font-weight: bold;
}
/* footer section */
.footer {
    background-color: #f24405;
    text-align: center;
    padding: 30px;
    font-size: 12px;
}